@media (max-width: 1700px) {
    .phone {
        position: absolute;
        right: 45px;
        top: 0;
    }
    .social-icons {
        position: absolute;
        right: 40px;
        top: 80px;
    }

    .menu-fixed .navbar__menu {
        font-size: 18px;
        text-align: center;
    }

    .menu-fixed .navbar__menu a:hover {
        font-size: 19px;
    }

    .menu-fixed .social-icons {
        display: none;
    }

    .menu-fixed .phone {
        display: flex;
    }

    .menu-fixed .phone a {
        margin-right: 10px;
    }

    .content__services .item {
        max-width: 400px;
    }

    .content__services .item__title {
        font-size: 25px;
    }

    .content__services .item__options {
        font-size: 28px;
    }

    .content__services .item-description {
        font-size: 25px;
    }
    
}

@media (max-width: 1368px) {
    .content__services .item {
        max-width: 350px;
    }

    .social-icons {
        position: relative;
        top: 0;
        right: 0;
    }

    .social-icons li:hover {
        padding-top: 0 !important;
    }
}

@media (max-width: 1329px) {
    .menu {
        display: none;
    }

    .btn-menu {
        display: block !important;
    }

    .media-menu {
        padding: 10px;
        font-size: 20px;
        line-height: 50px;
        position: fixed;
        top: 120px;
        right: 0;
        display: inline-block;
        border: 1px solid white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: rgba(0, 0, 0, 0.685);
    }
    .media-menu a {
        color: white;
    }

    .media-menu a:hover {
        color: rgba(255, 255, 255, 0.685);
    }

    .marketing {
        display: none;
    }
}

@media (max-width: 1220px) {
    .content__services .content__services-items {
        display: block;
    }
    
    .content__services .item {
        max-width: 500px;
    }

    .content__services .item {
        margin: 0 auto 30px auto;
    }
}

@media (max-width: 750px) {
    table .price {
        font-size: 12px;
    }

    table .tb-footer button {
        font-size: 10px;
        padding: 3px;
    }
}

@media (max-width: 650px) {
    .gallery .gallery__item {
        display: block;
    }
}

@media (max-width: 523px) {
    .logo-wrapper {
        top: 170px !important;
    }

    .logo-wrapper .logo {
        min-width: 250px;
    }

    .logo .logo__G {
        font-size: 200px;
    }

    .logo .logo__name {
        font-size: 39px;
        top: 98px;
        left: 10px;
    }

    .description {
        margin-top: 50px;
    }

    .description .description__mission {
        font-size: 20px;
    }

    .description .description__text {
        font-size: 15px;
    }

    .content .title {
        font-size: 25px;
    }

    .content .content__header-description {
        font-size: 18px;
        line-height: 25px;
    }

    .content .content__description-text p {
        font-size: 18px;
        line-height: 25px;
    }

    .content .content__description-block p {
        font-size: 16px;
        line-height: 25px;
    }
}    

@media (max-width: 450px) {
    .content__services .item__title {
        font-size: 20px;
    }
    
    .content__services .item__options {
        font-size: 20px;
    }
    
    .content__services .item-description {
        font-size: 20px;
    }
}
